.welcome_page-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: auto;
    margin-top: 200px;
    position: -ms-page;
    background-color: rgba(112, 12, 87, 0.192); 
}

.welcomePage-header{
    text-align: center;
    font-size: 60px;
    color: rgb(73, 5, 58);
}

.submit_button{
    width: 200px;
    height: auto;
    border: none;
    padding: 5px;
    background-color: rgba(5, 19, 100, 0.267);
    font-weight: bold;
    transition: transform .3s;
    font-size: 30px;
}

.submit_button:hover {
    background-color: rgb(39, 23, 83);
    color: white;
    transform: scale(1.5);
}